<!DOCTYPE html>
<html ng-app="taskerApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type='text/javascript' src="/javascripts/angular-app.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= title %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/backbone">Backbone.js</a></li>
        <li><a href="/angular">Angular.js</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<section class="container">

<article class="row">
  <div class="col-md-12">
    <h1><%= title %>: <em>the MEAN way to track your tasks</em></h1>
    <h4><%= library %> Version</h4>
  </div>
</article>

<!-- angular TaskListCtrl -->
<article ng-controller="TaskListCtrl">
  <div class="col-md-12">
  <ul>
    <li ng-repeat="task in tasks">
      <span>{{task.name}}</span>
      <p>{{task.description}}</p>
      <p>{{'Completed: ' + task.completed}}
    </li>
  </ul>
  </div>
</article>

<!-- end angular TaskListCtrl -->
</section>


  </body>
</html>
